body {

font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding: 20px;
line-height: 1.5;
background-color:aliceblue;
color: #333;
}

input, select, button {
    padding: 8px 10px;
    margin: 5px 0;
    font-size: 1rem;
}


button {
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px; }


#taskInputSection, #filterSection, #taskListSection {
    margin-bottom: 20px;
}


#taskList li {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

